@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(248, 219, 103);
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh; /* Ensure the body fills the viewport */
}

.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    max-width: 100%;
    margin-bottom: 20px;
}

.Female-image {
    position: relative;
    width: 400px;
    height: 300px;
    border-radius: 10%;
    top: 10px;
    max-width: 100%; 
    height: auto; 
    bottom: 100px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.field {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#first,
#second {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    align-content: center;
}

input[type="url"],
button {
    width: 70% ; /* Adjusted for button width and padding */
    height: 50px;
    padding: 0 15px;
    margin-right: 10px;
    border: 3px solid #232323;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
}

.shorten {
    width: 150px;
    height: 50px;
    padding: 0;
    background-color: rgb(53, 1, 1);
    border: none;
    border-radius: 8px;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 12px 16px;
}

.shorten:hover {
    background-color: rgb(53, 1, 1);
}

#copy {
    width: 150px;
    height: 50px;
    padding: 0;
    background-color: rgb(53, 1, 1);
    border: none;
    border-radius: 8px;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 16px;
    cursor: pointer;
}

#copy:hover {
    background-color: rgb(53, 1, 1);
}


button {
    background-color: rgb(53, 1, 1);
    border: none;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
}

button:hover {
    background-color: rgb(53, 1, 1);
}

#copy {
    margin-right: 0;
}

.fa-copy {
    padding-right: 8px;
}

.fa-hand-scissors {
    padding-right: 8px;
}


.fa-link {
    padding: 15px;
    margin-bottom: 0px;
    position: absolute;
    color: #F45D48;
}

.fa-up-right-from-square{
    padding: 15px;
    margin-bottom: 0px;
    position: absolute;
    color: #F45D48;
}

/* Alert banner */

.notify{  
    position:absolute;
    top:0px;
    width:100%;
    height:0;  
    box-sizing:border-box;
    color:white;  
    text-align:center;
    background:rgb(53, 1, 1);
    /* opacity: 0.6; */
    overflow:hidden;
    box-sizing:border-box;
    transition:height .2s;

}
  
  #notifyType:before{
    display:block;
    margin-top: 18px; 
    
  }
  
  .active{  
    height: 60px;
  }
  
  .success:before{
    font-size: 20px;
    Content:"Yaaaaay!! Your link has been copied";
  }

  .failed:before{
    font-size: 20px;
    Content:"Your link is getting shortened..."
  }


@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    input[type="url"],
    button {
        font-size: 16px;
    }
    #first,
    #second {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    align-content: center;
}
.shorten {
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
}
#copy {
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
}



@media only screen and (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1rem;
    }
    input[type="url"],
    button {
        font-size: 14px;
    }
    #first,
    #second {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    align-content: center;
}
.shorten {
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
#copy {
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
}
